---
import type { MarkdownInstance } from "astro";
import { format } from "date-fns";
import "../styles/md.scss";

interface Props {
  post: MarkdownInstance<Record<string, any>>;
  outsidePostPage?: boolean;
  showDate?: boolean;
  linkInTitle?: boolean;
  returnLink?: boolean;
  showImage?: boolean;
}

const {
  post,
  outsidePostPage = false,
  showDate = true,
  linkInTitle = true,
  returnLink = true,
  showImage = true,
} = Astro.props;
---

<article class="relative pb-6">
  <div
    class={`text-4xl transition-transform origin-left font-extrabold w-full ${
      linkInTitle ? "hover:scale-[1.1]" : ""
    }`}
  >
    {
      linkInTitle ? (
        <a href="/blog">
          <h1>{post.frontmatter.title}</h1>
          <p class={`${!showDate ? "hidden" : ""} text-2xl font-semibold`}>
            {format(new Date(post.frontmatter.date), "dd.MM.yyyy.")}
          </p>
        </a>
      ) : (
        <div>
          <h1>{post.frontmatter.title} </h1>
          <p class={`${!showDate ? "hidden" : ""} text-2xl font-semibold`}>
            {format(new Date(post.frontmatter.date), "dd.MM.yyyy.")}
          </p>
        </div>
      )
    }
  </div>
  <div class="py-2">
    <img
      src={post.frontmatter.imageURL}
      alt={post.frontmatter.title}
      class={` ${
        !showImage || post.frontmatter.hideImageOnBlogPage ? "hidden" : ""
      } rounded-3xl select-none mb-2`}
      transition:name={`post-title-${post.frontmatter.title}-image`}
    />
  </div>
  <div
    class={`${
      outsidePostPage
        ? "p-4 border-2 border-dashed rounded-xl border-zinc-600"
        : ""
    }`}
    post-content
  >
    <post.Content />
  </div>
  <br />
  <a
    href="/blog"
    class={`w-20 h-20 hover:underline underline-offset-[0.3rem] text-xl italic ${
      returnLink ? "inline" : "hidden"
    }`}>{"<-- Return"}</a
  >
</article>
