---
import fs from "fs";
import type { MarkdownInstance } from "astro";
import { getImage } from "astro:assets";
import { format, parseISO } from "date-fns";

interface Props {
  post: MarkdownInstance<Record<string, any>>;
}

const { post } = Astro.props;
---

<a
  href={`/blog/${post.frontmatter.slug}`}
  class="relative aspect-video overflow-hidden rounded-3xl bg-white opacity-100 transition-opacity hover:opacity-70"
  style={`background-image: url(${post.frontmatter.imageURL}); background-size: contain; background-repeat: no-repeat; background-position: center;`}
  transition:name={`post-title-${post.frontmatter.title}-image`}
  post-preview
>
  <div
    class="absolute left-0 top-0 flex max-w-[85%] origin-top-left items-center gap-2 rounded-br-3xl bg-[#84378f] bg-opacity-70 p-4 md:flex-col md:items-start"
    post-details
  >
    <span
      class="text-xl font-extrabold text-white min-[960px]:text-3xl xl:text-5xl"
      transition:name={`post-title-${post.frontmatter.title}`}
    >
      {post.frontmatter.title}
    </span>
    <span
      class="text-md text-white xl:text-xl"
      transition:name={`post-title-${post.frontmatter.title}-date`}
    >
      {format(parseISO(post.frontmatter.date), "dd.MM.yyyy.")}
    </span>
  </div>
  <div
    class="absolute bottom-0 hidden w-full bg-[#84378f] bg-opacity-70 px-3 py-2 transition-transform min-[400px]:block min-[650px]:translate-y-full md:p-4"
    post-description-wrapper
  >
    <span
      class="min-[960px]:text-md max-h-8 text-sm text-white xl:text-xl"
      post-details
      >{post.frontmatter.description}
    </span>
  </div>
</a>

<style>
  [post-details] {
    transition: 0.2s;
  }

  [post-preview]:hover [post-details] {
    transform: scale(1.1);
  }

  @media (min-width: 960px) {
    [post-preview]:hover [post-description-wrapper] {
      transform: translateY(0);
    }
  }
</style>
