---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
  imageURL?: string;
}

const { title, description, imageURL } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth overflow-x-hidden" id="_">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content={imageURL ?? null} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="og:image" content={imageURL ?? null} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta name="theme-color" content="#6D28D9" />
    <title>{title}</title>
  </head>

  <style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

    .font-inter {
      font-family: "Inter", sans-serif;
    }

    img {
      user-select: none;
    }
  </style>

  <body class="w-screen h-[100dvh]">
    <slot />
  </body>
</html>
